@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #40413d;
}

.c-divider-top {
  border-top: 1px solid #dddddd;
}

.c-pt-15 {
  padding-top: 3.58rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
